.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{ 
  margin-bottom: 70px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* my styles */
#race{
  display: flex;
  flex-direction: row;
}

.team{
  border-radius: 5px;
  margin: 1% auto;
  width: 48%;
  display: flex;
  flex-direction: row;
  align-content: center;
  box-shadow: 1px 3px 7px rgb(52, 57, 63);
}

.card {
  border-radius: 3px;
  box-shadow: 2px 4px 6px grey;
  min-width: 120px;
  max-width: 150px;
  width: 30%;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;  
}

.card h3, .card h4 {
  text-align: center;
}

.green{
  background: linear-gradient(to bottom, #d8ebad, #1d4629);
}

.blue{
  background: linear-gradient(to bottom, #7bcbda, #233b42);
}

.purple{
  background: linear-gradient(to bottom, rgb(247, 208, 247),rgb(243, 156, 243));
}